<h2><%= "#{@merchant.name}'s Bulk Discounts" %></h2>
<h3><%= link_to "Create New Discount", new_merchant_bulk_discount_path(@merchant) %>
<% @merchant.bulk_discounts.each do |discount| %>
  <h3><%= link_to discount.name,  merchant_bulk_discount_path(@merchant, discount)%></h3>
  <ul>
    <li><%= "Item threshold: #{discount.threshold}" %>
    <li><%= "Percent off: #{discount.discount}" %>    0
  </ul>
  <%= button_to "Delete", merchant_bulk_discount_path(@merchant, discount), method: :delete, id: "delete#{discount.id}" %>
<% end %>

<section id="holidays">
  <h3> Upcoming Holidays: </h3>
  <ul>
    <% Holiday.next_three.each do |day| %>
      <%= content_tag :div, id: "holiday#{day.id}" do %>
        <li><%= "#{day.name}: #{day.date.strftime("%a, %d %b %Y")}" %></li>
      <% end %>
    <% end %>
  </ul>
</section>
      