<h2><%= "#{@merchant.name}'s Bulk Discounts" %></h2>
<h3><%= link_to "Create New Discount", new_merchant_bulk_discount_path(@merchant) %>
<% @merchant.bulk_discounts.each do |discount| %>
  <h3><%= link_to discount.name,  merchant_bulk_discount_path(@merchant, discount)%></h3>
  <ul>
    <li><%= "Item threshold: #{discount.threshold}" %>
    <li><%= "Percent off: #{discount.discount}" %>
  </ul>
    <%= form_with url: "/merchant/#{@merchant.id}/bulk_discounts/#{discount.id}", method: :delete, local: true do |form| %>
      <p><%= form.submit "Delete", id: "delete#{discount.id}" %></p>
    <% end %>
<% end %>